
.logoncontainer {
    font-family: sans-serif;
    background-color: white;
    position: absolute;
    top: 50%;
}

.full-screen-input{
    width: 95%;
    font-family: sans-serif;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 2%;
}

.FormInput{
    width: 60%;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 20%;
}

.form-input-small{
    width: 40%;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 20%;
}

.cell-half-form{
    width: 50%;
    top: 300px
}



.fifi{
    padding-top: 20px;
    padding-left: 20px;
    border-right: medium solid #b3b3b3;
}

.logon-right-col{
    height: 300px;
    border: 1px gainsboro;
    border-right-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-bottom: none;
    text-align: center;
}

.col-align-right{
    text-align: right;
}

.col-align-center{
    text-align: center;
}

.col-align-left{
    text-align: left;
}

.form-col-label-left{
    text-align: left;
    top: 6px;
    padding-left: 2px;
}

.form-col-label-right{
    text-align: right;
    top: 6px;
    padding-right: 5px;
    padding-left: 1px;

}

.form-col-label-center{
    text-align: center;
    top: 6px;
}

.form-col-text-field{
    text-align: left;
    padding-left: 1px;
}

.form-col-radio-center{
    padding-top: 6px;
}

.form-col-select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
}

.form-padding-10-left{
    padding-left: 10%;
}

.form-padding-15-right{
    padding-right: 15%;
}